@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  @apply w-4/5 block border-b border-[#999] py-[6px] px-[30px] pl-[40px] pt-[10px] focus:border-b-[#222] focus:outline-none;
}


.form-label {
  @apply text-[25px] absolute left-0 top-1/2 transform -translate-y-1/2 leading-none;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}